@import "tailwindcss";

@layer utilities {
    .bg-base-gradient {
    backdrop-filter: blur(50%);
    background-image: linear-gradient(
        135deg,
        #e3cbf9 5%,
        #d497fb 15%,
        #c37cfa 30%,
        #9336ee 50%,
        #1b0e8c 90%
    );
    }
}

body {
    background-color: #0F0F1A;
    height: 100vh;
}

#root {
    height: 100vh;
}

.scrollable {
    overflow-y: auto;
    max-height: 125px;
    scrollbar-width: thin;
    scrollbar-color: #4F45E4 transparent;
}

.scrollable::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #4F45E4;
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-track {
    background: transparent;
}

.custom-overflow::-webkit-scrollbar {
    width: 6px;
}

.custom-overflow::-webkit-scrollbar-track {
    background: transparent;
}

.custom-overflow::-webkit-scrollbar-thumb {
    background-color: #5120B8;
    border-radius: 4px;
}

.custom-overflow::-webkit-scrollbar-thumb:hover {
    background-color: #6a34ff;
}

.custom-overflow {
    scrollbar-width: thin;
    scrollbar-color: #5120B8 transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}