@import "tailwindcss";

@layer utilities {
    .bg-base-gradient {
    backdrop-filter: blur(50%);
    background-image: linear-gradient(
        135deg,
        #e3cbf9 5%,
        #d497fb 15%,
        #c37cfa 30%,
        #9336ee 50%,
        #1b0e8c 90%
    );
    }
}

body {
    background-color: #0F0F1A;
    height: 100vh;
}